.variants-container {
    main {
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
        padding: 30px 0px;

        .variant {
            border-width: 2px;

            span:nth-child(2) {
                display: none;
            }

            &:hover {
                span:nth-child(2) {
                    display: inline-block;
                }
            }
        }
    }

    footer {
        padding: 30px 0px;
        display: flex;
        justify-content: center;

        .add-variant {
            border-width: 2px;
        }
    }
}